@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
    html{
        overflow-x:hidden;
    }
   *{
       margin: 0;
       padding: 0;
    }
   a{
       text-decoration: none;
       color: inherit;
    }
   ul,ol{
       list-style: none;
    }
   body{
       font-size: 14px;
       line-height: 24px;
       color: #493731;
       min-width: 1350px;
       overflow-x: hidden;
    }
   

   /*header*/
   #header{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 3;
       height: 110px;
       background-color: rgba(0, 0, 0, 0.5);
   }
   #header_inner{
       width: 1320px;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   #logo{
       padding-left: 80px;
       padding-right: 50px;
       padding-top: 3px;
   }
   #menu{
       display: flex;
       justify-content: space-between;
   }
   #menu>li>a{
       display: block;
       padding: 0 50px;
       font-size: 18px;
       font-weight: bold;
       color: #f2eae2;
       letter-spacing: 1px;
       opacity: 0.6;
       line-height: 110px;
   }
   #menu>li:hover a{
        opacity: 1;       
        color: #fff;
   }
   #menu_icon{
       display: flex;
       justify-content: space-between;
       padding-right: 10px;
   }
   #menu_icon>li>a{
       display: block;
       padding: 0 20px;
   }
   #menu_icon>li>a>img{
       opacity: 0.5;
   }
   #menu_icon>li>a>img:hover{
       opacity: 1;
       transform: translateY(-5px);
       transition: all 0.5s;
   }
   /*sub*/
   #header_inner>#menu>li{
       position: relative;
   }
   #header_inner>#menu>li>#sub{
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
   }
   #header_inner>#menu>li>#sub>li>a{
       display: block;
       color: #ccc;
       padding: 20px 0;
       text-align: center;
       background-color: rgba(0, 0, 0, 0.4);
       font-size: 14px;
   }
   #header_inner>#menu>li>#sub>li>a:hover{
       transition: all 0.3s;
       font-weight: bold;
       color: #fff;
   }
   #sub{
       display: none;
   }
   #main_banner{
       position: relative;
   }
   #main_banner>video{
       width: 100%;
   }

   /*forte*/
   .forte{
       width: 1320px;
       margin: 150px auto;
       height: 1150px;
   }
   #sub_title{
       padding: 50px 0;
       text-align: center;
   }
   #sub_title>p{
       padding: 30px 0;
       font-size: 14px;
   }
   .forte_banner{
       display: flex;
       padding: 10px 0;
       text-align: center;
       position: relative;
   }
   .f1{
       position: absolute;
       top: 0;
       left: 72px;
   }
   .f2{
       position: absolute;
       top: 0;
       right: 72px;
   }
   .f3{
       position: absolute;
       top: 410px;
       left: 70px;
   }
   .f4{
       position: absolute;
       top: 428px;
       right: 70px;
   }

   /*favorites*/
   .favorites{
       background-color: #fdfaf6;
   }
   #favorites_inner{
       width: 1320px;
       margin: 150px auto;
       padding: 100px 0;
       text-align: center;
   }
   .best>.swiper-wrapper>.swiper-slide{
       width: 400px;
       margin-right: 50px;
       padding: 30px 0;
       box-sizing: border-box;
   }
   .best>.swiper-wrapper>.swiper-slide>.best_txt{
       padding: 30px 0 20px;
   }
   .best>.swiper-wrapper>.swiper-slide>.best_txt>h3{
       letter-spacing: 0.5px;
   }
   .best>.swiper-wrapper>.swiper-slide>.best_txt>h4{
       padding: 10px 0;
       letter-spacing: 0.5px;
   }
   .best .swiper-slide .best_txt{
       opacity: 0;
   }
   .best .swiper-slide-active .best_txt{
       opacity: 1;
       transition: all 1s;
   }
   .best .swiper-slide-active{
       border: 4px solid #bdac9e;
       box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
   }
   .best .swiper-slide-active:hover img{
        transform: scale(1.1);
        transition: all 0.5s;
   }
   #arrow{
       width: 1320px;
       margin: 0 auto;
       position: relative;
   }
   .best{
       width: 1320px;
       margin: 0 auto;
   }
   .best_next{
       right: 0;
   }
   .best_prev{
       left: 0;
   }
   .best_next:after{
       content:url(images/right.png);
   }
   .best_prev:after{
       content:url(images/left.png);
   }
   .best_next, .best_prev{
       width: 50px;
       height: 50px;
   }
   .more{
       background-color: #988886;
       width: 100px;
       margin: 80px auto 30px;
       height: 35px;
   }
   .more>a{
       font-weight: bold;
       color: #f2eae2;
       display: block;
       padding-top: 5px;
       letter-spacing: 1px;
   }
   .more:hover{
       background-color: #6c544b;
   }

   /*mind*/
   .mind{
       margin: 150px auto;
       position: relative;
   }
   .campaign_bg{
       width: 100%;
       height: 562px;
       margin-top: 400px;
   }
   #mind_inner{
       width: 1320px;
       margin: 0px auto;
       text-align: center;
   }
   .mind_txt{
       background-color: #fdfaf6;
       width: 950px;
       padding: 50px;
       box-sizing: border-box;
       padding-bottom: 70px;
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
       position: absolute;
       top: 50%;
       left: 50%;
       z-index: 3;
       margin-left: -475px;
       height: 600px;
   }
   .mind_txt>h1{
       font-size: 30px;
       padding: 20px 0 50px;
       text-align: left;
       letter-spacing: 2px;
   }
   .mind_txt>p{
       padding: 10px 0;
       text-align: left;
   }

/*project*/
.project{
    width: 1320px;
    margin: 150px auto 200px;
    text-align: center;
}
#kit{
    display: flex;
    justify-content: space-between;
}
.kit{
    display: flex;
}
.kit_txt{
    background-color: #bdac9e;
    text-align: left;
    width: 300px;
    height: 200px;
    padding: 20px;
}
.kit_txt>h5{
    letter-spacing: 1px;
}
.kit_txt>h3{
    padding: 3px 0 10px;
}
.kit_txt>p{
    font-size: 13px;
}
.join{
    background-color: #f2eae2;
    width: 65px;
    height: 25px;
    border: 1px solid #82665f;
    border-radius: 13.5px;
    margin-top: 12px;
    margin-left: 210px;
}
.join>a{
    font-weight: bold;
    color: #433c39;
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.join:hover{
    border: 2px solid #6c544b;
}

/*event*/
#event_wrap{
    background-color: #fdfaf6;
}
.event_wrap{
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.event>.swiper-wrapper>.swiper-slide{
    width: 900px;
}
#arrow{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.event_next{
    right: 70px;
}
.event_prev{
    left: 70px;
}
.event_next:after{
    content:url(images/right.png);
}
.event_prev:after{
    content:url(images/left.png);
}
.event_next, .event_prev{
    width: 50px;
    height: 50px;
}
.event .swiper-pagination-bullet{
    background: #f2eae2;
}

/*footer*/
#footer{
    background-color: #817972;
    height: 300px;
}
#footer_inner{
    width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer_logo{
    margin-left: 130px;
}
.footer_txt>.footer_clause{
    display: flex;
}
.footer_txt>.footer_clause>li>a{
    display: block;
    color: #fdfaf6;
    font-size: 14px;
    font-weight: bold;
    padding-right: 50px;
    opacity: 0.7;
}
.footer_txt>.footer_clause>li:hover a{
    opacity: 1;
    transition: all 0.5s;
}
.footer_txt>p{
    padding: 40px 0 30px;
    color: #fdfaf6;
}
.footer_txt>h4{
    color: #fdfaf6;
    letter-spacing: 0.8px;
}
.contact{
    text-align: right;
    margin-right: 50px;
}
.contact>h4{
    font-size: 16px;
    color: #fdfaf6;
}
.sns_icon{
    display: flex;
    padding: 20px 0 10px;
}
.sns_icon a{
    display: block;
    padding-left: 15px;
}
.sns_icon>li>a>img{
    opacity: 0.5;
}
.sns_icon>li>a:hover img{
    opacity: 1;
    transform: translateY(-5px);
    transition: all 0.5s;   
}
.contact p{
    color: #fdfaf6;
    font-size: 16px;
}

/*top*/
#top_btn{
    position: fixed;
    right: 5%;
    top: 85%;
    z-index: 10;
}
#top_btn:hover{
    transform: scale(1.1);
}
